{% extends 'base.html' %}

{% block content %}
<div id="page-wrapper">

            <div class="container-fluid">
				
                <!-- Page Heading -->
                
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            {{project.name}} 
                        </h1>
                        
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    
                    
                <div>
            </div>
            <!-- /.container-fluid -->

        </div>
         
        <!-- /#page-wrapper -->

    </div>
    
   <div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Project Name</h3>
  </div>
  <div class="panel-body">
    {{project.name}}
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Description</h3>
  </div>
  <div class="panel-body">
    {{project.description}}
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Categories</h3>
  </div>
  <div class="panel-body">
  	{% if categories.count > 0  %}
	    <ul class="list-group">
	    	{% for category in categories %}
	    		<li class="list-group-item">{{ category.name }} -- {{category.description}} </li>
	    	{% endfor %}
	  	</ul>
	{% else %}
		<div class="panel-body">
    		No Categories found!!
  		</div>
  	{% endif %}
  	<a class="btn btn-primary" href="/project/{{ project.id }}/category/add/" role="button">Add New Category</a>
  </div>
</div>
   
   
                    
{% endblock %}


