{% extends 'base.html' %}
{% include 'execution_base.html' %}

{% block content %}


<div id="page-wrapper" class = "col-lg-12">

            <div class="container-fluid">
				
                <!-- Page Heading -->
                
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Current Test Plans
                             
                        </h1>
                        
                    </div>
                    <ol class="breadcrumb">
						  <li><a href="/">Home</a></li>
						  <li class="active">Test Plans</li>
					</ol>
                </div>
                <!-- /.row -->

                <div class="row">
                    
                    
                <div>
            </div>
            <!-- /.container-fluid -->

        </div>
         
        <!-- /#page-wrapper -->

    </div>
    
   
   
   <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Current test plans: <b>{{ executions.count }}</b></div>
  <div class="panel-body">
   
  

  <!-- List group -->
  <ul class="list-group">
  
{% for test_plan in testplans %}
   <p><li class="list-group-item"><h3><a href="/execution/get/{{ test_plan.id }}/">{{test_plan.title}}</a></p></h3>   
   <h4>Started On: {{test_plan.start_date}}</h4>
   
   <div class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="{{ execution.status }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ execution.status }}%">
    Overall Progress: {{ execution.status }}%
  </div>
	</div>
    
    </li>
    
{% endfor %} 
   </ul>
</div>	
</div>
<a class="btn btn-primary" href="/execution/start/" role="button">Create New Test Plan</a>


                    
{% endblock %}




