{% extends 'base.html' %}

{% block content %}

<div id="page-wrapper" class = "col-lg-12">

            <div class="container-fluid">
				
                <!-- Page Heading -->
                
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                          	Testcase Execution for: {{testplan.title}} <small>{{execution_task.title}}</small>
                        </h1>
                        
                    </div>
                  
                </div>
                <!-- /.row -->

                <div class="row">
                    
                    
                <div>
            </div>
            <!-- /.container-fluid -->

        </div>
         
        <!-- /#page-wrapper -->
<div class="row">


<!--<label class="col-lg-2 control-label" for="project">Filter by:</label>

  <div class="col-lg-4">
    <select id="result" name="result" class="form-control">
    <option value="all">All</option>
      <option value="pass">PASS</option>
      <option value="fail">FAIL</option>
      <option value="nap">Not Applicable</option>
      <option value="executed">All Executed</option>
      <option value="ne">Not executed</option>
    </select>
  </div>
-->
<div class="col-lg-12">
	<button class="btn btn-success">PASS</button>
    <button class="btn btn-danger">FAIL</button>
    <button class="btn btn-info">NAp</button>
    <button class="btn btn-warning">Comment</button>
</div>

</div>
		
		
   		<div class="col-lg-12">
   			
                      
                        
                            <table id="result_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                    	<th>Select</th>
                                        <th>Testcase Title</th>
                                        <th>Steps to Execute</th>
                                        <th>Expected Result</th>
                                        
                                        <th>Result</th>
                                        
                                        
                                    </tr>
                                </thead>
                                <tbody>
                               {% for eh  in execution_history %}
                                	{% if eh.result == "PASS"%}
                                   	 <tr class="success">
                                    
                                    {% elif eh.result == "FAIL"%}
                                   	 <tr class="danger">
                                    
                                    {% elif eh.result == "NAp"%}
                                   	 <tr class="warning">
                                   	 
                                   	{% else%}
                                   		<tr> 
                                    {%endif%}
                                    <td>
                                     		<input type="checkbox" name="testcase" value="{{eh.id}}}"> 
                                        </td>
                                    
                                        <td><a href="/execution/execute/{{execution.id}}/tc/{{eh.id}}/">{{eh.testcase.title|linebreaks}}</a></td>
                                        <td>{{eh.testcase.steps|linebreaks}}</td>
                                        <td>{{eh.testcase.expected_result|linebreaks}}</td>
                                        
                                        <td>{{eh.result|linebreaks}}</td>
                                        
                                        
                                        
                                        
                                    </tr>
                               {% endfor %}     
                                </tbody>
                            </table> 
                        
                   
 
		</div>

<script>

	

	
	
	
	/*$('#result_table').dataTable({
			'stateSave': true,
			
			"iDisplayLength": 50,
		});
		var filter_by = "{{filter_by}}";
		
		switch(filter_by){
			
			case "Passed":
				$("#result").val("pass");
				break;
			case "Failed":
				$("#result").val("fail");
				break;
			case "Not Applicable":
				$("#result").val("nap");
				break;
			case "Not Executed":
				$("#result").val("ne");
				break;
			case "Executed":
				$("#result").val("executed");
				break;
				
			default:
				$("#result").val("all")
		}
		
	    $('#result').change(function() {
	    	
	    	var by = $("#result option:selected").val();
	    	window.location.href = "/execution/get/"+"{{ execution.id }}"+"/filter/?by="+by;	
	        
	        
	    });

	    function returnSuccess(data, textStatus, jqXHR)
		{
	    	
	    	
	    	
		}	*/

	
	

</script>
                  
{% endblock %}


